<template>
	<div class="day" ref="day">
		<div class="day-time" :class="{sticky}">{{date}}</div>
		<div class="day-lessons">
			<Lesson v-for="(lesson, key) in lessons" :key="key" :data="lesson"></Lesson>
		</div>
	</div>
</template>

<script>
	import Lesson from './Lesson';
	export default {
		name: "Day",
		components: {
			Lesson
		},
		data() {
			return {
				sticky: false,
			}
		},
		props: {
			data: {
				type: Object
			},
		},
		computed: {
			lessons() {
				const lessons = this.data.lessons.reduce((obj, lesson) => {
					if (obj[lesson.time_start])
						obj[lesson.time_start].push(lesson);
					else
						obj[lesson.time_start] = [lesson];
					return obj;
				}, {});
				return Object.values(lessons).reduce((arr, element) => {
					if (element.length > 1)
						arr.push({ _composed: true, lessons: element });
					else
						arr.push(element[0]);
					return arr;
				}, []);
			},
			date() {
				const dateString = this.$moment(this.data.date, "YYYY-MM-DD").calendar({
					sameElse: "dddd, DD.MM.yyyy"
				});
				return dateString[0].toUpperCase() + dateString.slice(1);
			}
		},
		methods: {
			stick() {
				const rect = this.$refs.day.getBoundingClientRect();
				this.sticky = rect.y <= 0 && rect.bottom > 0
			}
		},
		mounted() {
			window.addEventListener("scroll", this.stick)
		},
		beforeDestroy() {
			window.removeEventListener("scroll", this.stick)
		}
	}
</script>

<style lang="scss">
	@import "../../../css/variables";
	#timetable {
		.day {
			.day-time {
				padding-top: $header-offset;
				text-align: center;
				font-size: 1.125rem;
				font-weight: 500;
				color: #808080;
				position: static;
				height: calc(#{$header-height} + #{$header-offset});
				z-index: 11;
				background: $grey;
				background: linear-gradient(180deg, $grey 0%, $grey 65%, rgba(0,0,0,0) 100%);
				&.sticky {
          width: 100%;
					height: calc(#{$header-height} + #{$header-offset});
					position: fixed;
					top: 0;
					z-index: 5;
					&+.day-lessons {
						padding-top: calc(#{$header-height} + #{$header-offset});
					}
				}
			}
		}
	}
</style>