<template>
	<v-card class="lesson-container blue-gr darken-3">
		<div class="lesson-type" :class="typeClass">{{data.typeObj.name}}</div>
		<v-card-title class="lesson-subject">{{data.subject}}</v-card-title>
		<v-card-subtitle>
			<v-icon small>schedule</v-icon>
			{{data.time_start}} - {{data.time_end}}
		</v-card-subtitle>
		<v-card-text>
			<div class="text--primary">

			</div>
		</v-card-text>
	</v-card>
</template>

<script>
	const map = {
		"Лекции": "green",
		"Практика": "blue",
		"Лабораторные": "indigo",
		"Экзамен": "red",
		"Доп. экзамен": "red",
		"Защита ВКР": "red"
	};

	export default {
		name: "LessonDataOnly",
		props: {
			data: {
				type: Object
			}
		},
		computed: {
			typeClass() {
				return [map[this.data.typeObj.name] || "yellow"]
			}
		}
	}
</script>

<style lang="scss">
	.lesson-type {
		padding: 2px 2px 2px 16px;
		height: 24px;
    font-weight: 500;
		font-size: 0.85rem;
		color: white;
	}
</style>
