<template>
	<v-row class="lesson" ref="lesson">
		<v-col offset-md="1" md="9" sm="12" cols="12" class="lesson-col">
			<div class="lesson-time">
				<div class="time grey lighten-3" :class="{sticky}" ref="time">{{time_start}}</div>
				<div class="lesson-timeline" :class="{ unseen: data.current || data.unseen, current: data.current}">
					<div class="pre"></div>
					<div class="pointer"></div>
					<div class="after"></div>
				</div>
			</div>
			<LessonDataOnly v-if="!data._composed" :data="data"></LessonDataOnly>
			<div class="lessons-container" v-else>
				<LessonDataOnly v-for="(lesson, key) in data.lessons" :key="key" :data="lesson"></LessonDataOnly>
			</div>
		</v-col>
	</v-row>
</template>

<script>
	import LessonDataOnly from "./LessonDataOnly";
	export default {
		name: "Lesson",
		components: {LessonDataOnly},
		data() {
			return {
				sticky: false
			}
		},
		props: {
			data: {
				type: Object
			}
		},
		computed: {
			time_start() {
				return (this.data._composed) ? this.data.lessons[0].time_start : this.data.time_start;
			}
		},
		methods: {
			stick() {
				const lessonRect = this.$refs.lesson.getBoundingClientRect();
				this.sticky = lessonRect.y <= -4 && lessonRect.bottom > 12;
			}
		},
		mounted() {
			window.addEventListener("scroll", this.stick)
		},
		beforeDestroy() {
			window.removeEventListener("scroll", this.stick)
		}
	}
</script>

<style lang="scss">
  @import "../../../css/variables";

	%before-line, %after-line {
		border-left: 1px $green solid;
		border-right: 1px $green solid;
	}
	%after-line::after {
		top: 0;
	}
	%before-line::before {
		bottom: 0;
	}

	#timetable {
		.lesson {
			.lesson-col {
				display: flex;
				flex-direction: row;
				padding: 0;
			}
			.lessons-container {
				display: flex;
				flex-grow: 1;
				flex-direction: column;
				padding: 0;
				.lesson-container:not(:first-child) {
					margin-top: 0;
				}
			}
			.lesson-container {
				flex-grow: 1;
				margin: 20px 16px 12px 24px;
				border-radius: 0;
			}
			.lesson-timeline {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 0 0 0 15px;
				width: 24px;
				.pre, .after {
					position: relative;
					display: inline;
					&.pre {
						height: 25px;
						margin-bottom: 20px;
					}
					&.after {
						margin-top: 20px;
						flex-grow: 1;
					}
				}
				&.unseen {
					.pointer::before {
						content: "";
						position: absolute;
						top: 3px;
						left: 3px;
						width: 6px;
						height: 6px;
						border-radius: 3px;
						background-color: white;
						z-index: 3;
					}
				}
				&.current {
					.pre {
						height: 19px;
					}
					.pointer {
						width: 24px;
						height: 24px;
						border-radius: 12px;
						background-color: $green;
						&::after {
							content: "";
							position: absolute;
							top: 5px;
							left: 5px;
							width: 14px;
							height: 14px;
							border-radius: 6px;
							z-index: 2;
							background-color: $dark-green;
						}
						&::before {
							top: 9px;
							left: 9px;
						}
					}
				}
				.pointer {
					width: 12px;
					height: 12px;
					border-radius: 6px;
					background-color: $green;
					position: relative;
				}
			}
			.lesson-time {
				color: black;
				padding-top: 0;
				padding-bottom: 0;
				text-align: center;
				display: flex;
				flex-direction: row;
				align-items: stretch;
				margin-left: 12px;
				div {
					&.time {
						font-weight: 500;
						margin-top: 40px;
            width: $time-width;
						z-index: 5;
						&.sticky {
							position: fixed;
							top: -4px;
							z-index: 4;
							&+.lesson-timeline {
								margin-left: $time-width;
							}
						}
					}
				}
			}
			&:not(:first-child) {
				.lesson-time div:not(.content).pre {
					@extend %before-line;
				}
			}
			&:not(:last-child) {
				.lesson-time div:not(.content).after {
					@extend %after-line;
				}
			}
			&:only-child {
				.lesson-time {
					opacity: 0;
				}
			}
			&:last-child {
				div.time.sticky {
					position: static;
					&+.lesson-timeline {
						margin-left: 0;
					}
				}
			}
		}
	}
</style>