<template>
	<v-container fluid id="timetable" >
		<Day v-for="day in days" :key="day.date" :data="day"></Day>
	</v-container>
</template>

<script>
	import axios from 'axios';
	import Day from "./Day";
	export default {
		name: "Timetable",
		components: {Day},
		data() {
			return {
				days: [],
			}
		},
		mounted() {
			axios({
				method: "get",
				baseURL: "https://ruz.spbstu.ru/api/v1/ruz/scheduler/27613?date=2020-4-6"
			}).then((response) => {
				/* eslint-disable-next-line no-console */
				console.log(response.data);
				this.days.push(...response.data.days);
				/* eslint-disable-next-line no-console */
			}).catch(console.log)
		}
	}
</script>

<style lang="scss">
  header {
		position: fixed;
		height: 100px;
		width: 100%;

		z-index: 10;
	}
	#timetable {
		height: 100%;
		overflow: hidden auto;
    padding: 0;
	}
</style>