<template>
  <v-app>
    <v-main class="grey lighten-3">
      <Timetable/>
    </v-main>
  </v-app>
</template>

<script>
import Timetable from "./components/modules/timetable/Timetable";

export default {
  name: 'App',
  components: {
    Timetable
  },
  data: () => ({
    //
  }),
};
</script>
